.image-back{
	/*background-image: url("../img/quienes.jpg");*/
}

.datainf{
	margin-left:180px;
}

.logo{
	float:left;
	margin-left:100px;
	margin-top:20px;
	color:white;
}
.section-bottom{
	margin-bottom: 215px;
}

.section-bottom-ases{
	margin-bottom: 200px;
}

.section-bottom-zero{
	margin-bottom: 0px;
}

.footer-column{
	font-family: 'Lato',sans-serif;
	font-size: 14px;
	color: #fff;
	max-width: 250px;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}


/* DESDE AQUÃ!*/

div.header-logo{
	display: inline-block;
	margin-top: 20px;
	text-align: right;
	width: 23%;
}
div.header-logo a{
	margin-left: 80px;
}
div.header-logo a img{
	width: 100%;
}
div.header-nav{
	display: inline-block;
	vertical-align: top;
	width: 68%;
}
#footer{
	background: url("../img/textura1.png");
	padding: 1.5em;
}

#footer ul{
	list-style: none;
	margin: 0 auto;
	text-align: center;
	width: 98%;
}
#footer ul li{
	color:#9ECEE7;
	text-align: left;
}

/*QUIENES*/
div.u-wrapper div:first-child h2{
	padding-bottom: 1em;
}
.div-border{
	border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #8185C8;
	content: '';
	margin-bottom: 10px;
    

}

#quienes{
	/*background: #fff;
	color: #000;*/
	color: #fff;
	text-align: justify;
}

.quienes-img,.quienes-content,.div-two,.div-registro{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}

.div-two{
	vertical-align: top;
	width: 40%;
}
.div-two + .div-two{
	margin-left: 20px;
}
.quienes-img{
	width: 45%;
	margin-right: 5px;
}
img.img-opacity{
	border-radius: 1.5em;
	width: 100%;	
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
img.img-opacity:hover {
	opacity: 0.5;
	-ms-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.quienes-content{
	padding: 0.5em;
}

.text-content{
/*	color: #00527D;*/
}

#footer > div {
	text-align: center;
}
#footer li a,#footer li a:visited {
	text-decoration: none;
	color:#9ECEE7;
}
#footer li a:hover {
	color:rgb(125, 205, 64);
}


/* SECTION EQUIPO*/
.equipo{
	padding: 2em;
}
.equipo ul{
	list-style: none;
	text-align: center;
}
.equipo ul li h3{
	font-size: 1em;
	padding: 0.5em;
}
.equipo ul li{
	display: inline-block;
	margin-left: 5px;
	text-align: center;
	vertical-align: middle;
	width: 30%;
}

.equipo ul li div:first-child {
	height: 200px;
}
.equipo ul li div{
	height: 30px;
}
.equipo ul li {
	border-radius: 1.5em;
	border-top-style: inset;
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.equipo ul li:hover{
	border-left-style: inset;
	border-right-style: outset;
	opacity: 0.9;
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;	
}
.equipo ul li:hover span{
	color: #000;
}
.contacto{
	padding: 5em;
}
.contacto > div:first-child {
	margin: 0 auto;
	width: 90%;
}
.contacto div{
	display: inline-block;
	text-align: right;
	width: 50%;
	vertical-align: middle;
}

.contacto div + div{
	display: inline-block;
	text-align: center;
	width: 20%;
	margin-left: 20px;
	vertical-align: middle;
}


img#loading{
	display: none;
}



/* INICIO FORM REGISTRO*/
#registrarse {
	/*color: #000;*/
}
/* FIN FORM REGISTRO*/

.login label,
#mail,
#password,
.input-registrar
{
	text-align: center;
	display: block;
	-ms-border-radius: 0.25em 0.5em;
	-webkit-border-radius: 0.25em 0.5em;
	-o-border-radius: 0.25em 0.5em;
	-moz-border-radius: 0.25em 0.5em;
	border-radius: 0.25em 0.5em;
	color: rgba(65, 149, 214, 1);
	padding: 0.25em;
	margin: 0 auto;
}
#mail,
#password,
.input-registrar{
	width: 50%;
	border-style: dotted;
	border-color: #7DCD40;
}

.login{
	width: 50%;
	margin: 0 auto;
/*	border-left: double;
	border-right: double;*/
}
.registro{
	margin: 1em;
}


@media only screen and (max-width:1200px){
	#container .CourseList-tab{
		/*font-size: 1.2em;*/
	}
	div.header-logo a{
		margin-left: 0px;
	}
	div.header-logo{
		text-align: center;
	}
}

@media only screen and (max-width: 1000px){
	#container .CourseList-tab{
		margin: 0;
		padding: 1em;
	}
	div.header-logo,div.header-logo a img{
		width: 60%;
		text-align:center;
	}
	/*
	div.header-logo a img{
		width: 60%;
	}*/
	div.header-nav{
		position: relative;
		width: 100%;
		vertical-align: top;
	}

	nav a{
		-ms-border-radius: 0.25em;
		-moz-border-radius: 0.25em;
		-o-border-radius: 0.25em;
		-webkit-border-radius: 0.25em;
		border-radius: 0.25em;
		padding: 0.2em;
		-ms-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		-o-transition: all 0.5s ease-in;
		-webkit-transition: all 0.5s ease-in;
		transition: all 0.5s ease-in;
	}
	nav a:hover{
		background: rgba(66,162,206,0.5);
		-ms-border-radius: 0 0.5em 0 0.5em;
		-moz-border-radius: 0 0.5em 0 0.5em;
		-webkit-border-radius: 0 0.5em 0 0.5em;
		-o-border-radius: 0 0.5em 0 0.5em;
		border-radius: 0 0.5em 0 0.5em;
		color:#1e6581;
		-ms-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}
	.equipo ul li{

	}

}

@media only screen and (max-width: 800px){
	#quienes{
		font-size: 0.8em;
	}
	.div-two{
		width: 45%;
	}
	.equipo ul li{
		width: 40%;	
	}
	.login{
		width: 80%;
	}
}

@media only screen and (max-width: 600px){
	#container .CourseList-tab{
		margin: 0;
		padding: 1em;
		width: 100%;
	}
	div.header-logo{
		width: 90%
	}

	div.header-logo a img{
		width: 100%
	}	
	div.header-nav{
		position: relative;
		width: 100%;
		vertical-align: top;
	}
	.quienes-img,.quienes-content{
		width: 100%;
	}

	.div-two{
		width: 80%;
	}

	.equipo ul li{
		width: 90%;	
	}
	.contacto div{
		width: 90%;
		text-align: left;
	}
	.contacto div + div{
		width: 90%;
		margin-top: 10px;
		text-align: center;
		
		
	}
	.contacto {
		padding: 1.5em;

	}
	.login{
		width: 95%;
	}

	#mail,
	#password{
		width: 60%;
	}
}

@media only screen and (max-width: 400px){
	.div-two + .div-two{
		margin: 0;
	}
	.div-two{
		margin: 0;
		width: 100%;
	}
	#mail,
	#password{
		width: 80%;
	}	

}


@media only screen and (max-width: 275px){
	#container{
		width: 300px;
	}
}

.icono{
	display: none;
}


/*MARY 23-02-15*/
a.bg-a:hover{
	color: #fff;
	background-color:#ff4842;
	border-color:#d0272a
}
.bg-a{
	background-color:#7DCD40;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:0.8em;
	border-left:solid 1px #2ab7ec;
	margin-left:3em;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.bg-a:active {
	top:3px;
	background-color: #7D9DCA;
}
.bg-a:active::before {
	background-color: #7D9DCA;
	top:-3px;
}
.bg-a::before{
	background-color:#7D9DCA;
	content: url("../img/right_arrow.png");
	width:35px;
	max-height:27px;
	height:100%;
	text-align: center;
	position:absolute;
	display:block;
	padding-top:8px;
	top:0px;
	left:-36px;
	font-size:16px;
	font-weight:bold;
	color:#8fd1ea;
	text-shadow:1px 1px 0px #07526e;
	border-right:solid 1px #07526e;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
}
.ul-tree{
	display: inline-block;
}
ul.tree{
	margin-top: 1em;
	text-align: left;
	padding-left: 0.5em;
	list-style: none;
	background: url("../img/bg-ul.png") no-repeat;
	padding-bottom: 0.5em;
}
ul.tree li{
	margin:0px 0px 2em;
}
.video{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: center;
}


/*WHNM --- CSS*/
.icono{
	display: none;
}

.partners {
	font-family: 'Lato',sans-serif;
	font-size: 14px;
	color: #9ECEE7;
	padding-left: 1.5em;
}

.partners-titulo {
	text-decoration: underline;
	text-align: center;
	margin-bottom: 0.5em;
}

.partners-images {
	display: inline-flex;
}

.partners-images > figure {
	padding-right: 0.5em;
}

.partners-img {
	-ms-border-radius: 1em;
	-moz-border-radius: 1em;
	-o-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

.formulario{
	margin: 0 auto;
}

.formulario label
{
	text-align: center;
	display: block;
	-ms-border-radius: 0.25em 0.5em;
	-webkit-border-radius: 0.25em 0.5em;
	-o-border-radius: 0.25em 0.5em;
	-moz-border-radius: 0.25em 0.5em;
	border-radius: 0.25em 0.5em;
	color: rgba(65, 149, 214, 1);
	padding: 0.25em;
	margin: 0 auto;
}

.input-textarea{
	border-style: dotted;
	border-color: #7DCD40;
	text-align: center;
	-ms-border-radius: 0.25em 0.5em;
	-webkit-border-radius: 0.25em 0.5em;
	-o-border-radius: 0.25em 0.5em;
	-moz-border-radius: 0.25em 0.5em;
	border-radius: 0.25em 0.5em;
	color: rgba(65, 149, 214, 1);
	padding: 0.25em;
	margin: 0 auto;
}

#colaborador {
	text-align: left;
	padding: 1.5em;
}

#colaborador hr {
	border: 1px solid;
	width: 300px;
	margin-bottom: 0.5em;
}

#conocimientos {
	padding: 0.5em;
	font-size: smaller;
}

.alinear-elementos {
	margin: .4em 0;
}
.alinear-elementos label {
  width: 25%;
  float: left;
}


@media screen and (max-width: 640px){
	.partners{
		border-top-color: #fff;
		border-top-style: solid;
		/*border-left-style: hidden;*/ 
		border-top-width: thin;
		padding-top: 1.5em;
		margin-top: 1.5em;
	}
}

@media screen and (min-width: 641px){
	.partners {
		border-left-color: #fff;
		border-left-style: dashed;
		border-left-width: thin;
	}
}





